# Byte-compiled / virtual env
__pycache__/
*.py[cod]
*.egg-info/
.venv/

# OS / editors
.DS_Store
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/
.notebooks_cache/

# Data / outputs
data/*
!data/README.md
reports/figures/*
